.ein-python.ipynb
/.ipynb_checkpoints/
/venv/
/.nil.ipynb
/tutorials/.ipynb_checkpoints/
_minted*/
.nil.ipynb
*.bcf
*.dvi
*.log
*.out
*.aux
/tutorials/advanced.ipynb
*.toc
*.tex
*.run.xml
.ipynb_checkpoints/
ltximg/
.ein.ipynb
*.h5
tutorials/basic/training_1/
tutorials/basic/training_2/
*.csv
*.tfrecords
*.tfrecord
/tutorials/dataPreprocessing/Untitled.ipynb
/tutorials/images/Untitled.ipynb
*.tsv
tutorials/begginers/basic/training_1
tutorials/begginers/basic/training_2
/tutorials/begginers/dataPreprocessing/Untitled.ipynb
/tutorials/begginers/dataPreprocessing/images.tfrec
/_minted*/
checkpoints/*
logs/*
/ltximg/
training_checkpoints/
tutorials/advanced/training_checkpoints/*
/*.json
*.json
*.zip
/tutorials/advanced/cutomization/training_checkpoints/*
checkpoints/
logs/